@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;  
    background-color: #edf9fc;
}

:root {
    --orbe-spacing-0: 0px;
    --orbe-spacing-1: 4px;
    --orbe-spacing-2: 8px;
    --orbe-spacing-3: 12px;
    --orbe-spacing-4: 16px;
    --orbe-spacing-5: 20px;
    --orbe-spacing-6: 24px;
    --orbe-spacing-7: 27px;
    --orbe-spacing-9: 36px;
    --orbe-spacing-10: 40px;
    --orbe-spacing-14: 56px;

    --orbe-rounded: 8px;
    --orbe-rounded-full: 9999px;
    --orbe-rounded-xl: 24px;

    --orbe-shadow-sm: 0 2px 4px 0 rgba(73, 87, 105, .16), 0 1px 2px -1px rgba(73, 87, 105, .16);
}

box-icon{
    height: 100%;
}
.header-container{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 9999;
    top: 0;
    box-shadow: 0 4px 21px rgba(0, 0, 0, .03), 0 9px 12px rgba(0, 0, 0, .01) !important;
}
.main_header {
    width: 100%;
    position: relative;
    background: #FFF;
    padding: 12px 0;
    z-index: 999;
    box-shadow: 0 4px 21px rgba(0, 0, 0, .03), 0 9px 12px rgba(0, 0, 0, .01) !important;
}
.flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container {
    width: 100%;
    max-width: 1600px;
    padding: 0 100px;
    margin: 0 auto;
}
.Header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 46px;
    color: #015a83;
    padding: 12px 20px;
    box-shadow:0px 0px 15px #999;
    border-radius: var(--orbe-rounded);
}
.content-page {
    padding: 66px 20px;
    height: 100%;
    width: 100%;
}
.u-flex{
    display: flex !important;
}
.u-justify-center{
    justify-content: center !important;
}
.u-justify-between{
    justify-content: space-between !important;
}
.u-justify-around {
    justify-content: space-around !important;
}
.u-justify-left{
    justify-content: left !important;
}
.u-items-center{
    align-items: center !important;
}
.u-items-stretch {
    align-items: stretch !important;
}
.u-flex-row {
    flex-direction: row !important;
}
.u-flex-col {
    flex-direction: column !important;
}
.u-self-stretch {
    align-self: stretch !important;
}
.u-self-start {
    align-self: flex-start !important;
}
.u-ml-1{
    margin-left: var(--orbe-spacing-1) !important;
}
.u-ml-6{
    margin-left: var(--orbe-spacing-6) !important;
}
.u-mt-1{
    margin-top: var(--orbe-spacing-1) !important;
}
.u-mt-3 {
    margin-top: var(--orbe-spacing-3) !important;
}
.u-mt-6{
    margin-top: var(--orbe-spacing-6) !important;
}
.u-mt-7{
    margin-top: var(--orbe-spacing-7) !important;
}
.u-mt-14{
    margin-top: var(--orbe-spacing-14) !important;
}
.u-mb-3{
    margin-bottom: var(--orbe-spacing-3) !important;
}
.u-mb-5 {
    margin-bottom: var(--orbe-spacing-5) !important;
}
.u-mb-7{
    margin-bottom: var(--orbe-spacing-7);
}
.u-mb-10{
    margin-bottom: var(--orbe-spacing-10);
}
.u-gap-2{
    gap: var(--orbe-spacing-2);
}
.u-p-9{
    padding: var(--orbe-spacing-9);
}
.u-p-5 {
    padding: var(--orbe-spacing-5) !important;
}
.u-h-full{
    height: 100% !important;
}
.u-flex-grow {
    flex-grow: 1 !important;
}
.u-rounded-xl {
    border-radius: var(--orbe-rounded-xl) !important;
}
.u-rounded-full {
    border-radius: var(--orbe-rounded-full) !important;
}
.u-justify-self-stretch {
    justify-self: stretch !important;
}

/* LOGIN */
#login {
    background-color: #edf9fc;
    min-height: 100vh;
}
.login-content {
    width: 95vw;
    max-width: 440px;
}
#logo-login {
    color: #015a83;
    font-size: 32px;
    font-weight: 800;
    border-bottom: 3px solid #015a83;
    letter-spacing: -2px;
}
.card-login {
    background-color: #fff;
    width: 440px;
    height: 440px;
    border-radius: var(--orbe-spacing-2);
    border: 1px solid #E4E9F0;
}
.Heading {
    color: #000;
    padding: var(--orbe-spacing-0);
    font-weight: 700;
    font-size: 24px;
}
.InputText {
    display: flex;
    flex-direction: column;
    row-gap: var(--orbe-spacing-1);
}
.InputText-input, input:not([type="checkbox"]):not([type="radio"]).InputText-input {
    width: unset;
    height: 43px;
    padding: var(--orbe-spacing-0) var(--orbe-spacing-4) !important;
    background-color: #F8FAFC;
    font-size: 16px;
    color: #000;
    border: solid 1px #E4E9F0;
    border-radius: var(--orbe-rounded) !important;
    outline: none;
}
.input-login {
    width: 100%;
}
.FormLabel {
    font-family: 100;
    gap: var(--orbe-spacing-1);
    font-size: 20px;
    line-height: 16px;
    color: #66768C;
    margin-bottom: var(--orbe-spacing-3);
}
.forgot-password-link{
    color: #015a83 !important;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.login-button {
    height: 43px !important;
    width: 100% !important;
}
.login-button-submit {
    font: normal normal bold 18px / 13px !important;
}
button.Button {
    border-radius: var(--orbe-rounded);
    font-size: 20px;
    line-height: 12px;
    white-space: nowrap;
    padding: 0 var(--orbe-spacing-4);
    margin: 0;
    text-transform: none;
    display: inline-flex;
    width: fit-content;
    align-items: center;
    letter-spacing: var(--orbe-spacing-0);
    grid-gap: var(--orbe-spacing-2);
    border: solid 1px;
    font-weight: bold;
    justify-content: center;

}
button.Button.Button--primary{
    background-color: #374a67;
    color: #fff;
    border-color:#1F2A3B;
}
button.Button.Button--primary:hover{
    background-color: #2f3f58;
    cursor: pointer;
}
.login-label {
    font-size: 20px;
    margin-bottom: var(--orbe-spacing-3);
    color: #66768C;
}
.footer a.link-site {
    color: #015a83;
    font-weight: 700;
    text-decoration: underline;
}
.footer a.link-site:hover{
    color: #015a83;
}
.footer , .footer a , .footer span{
    color: #66768C;
    font-size: 17px;
    text-align: center;
    line-height: var(--orbe-spacing-6);
}
.footer a:hover{
    color: #00aeff;
}
/* LOGIN */

/* HOME */
.container-acesso_rapido{
    background: #fff;
    box-shadow:0px 0px 4px 1px #999;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}
.C-A_R-Header{
    width: 100%;
    height: 30px;
    color: #015a83;
}
.A_R-Blocos{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50%;
}
.item {
    max-width:450px;
}
.bloco-title{
    align-items: center;
    background-color: #015a83; 
    color: #fff;
    display: flex;
    font-weight: 650;
    height: 30px;
    padding: 0 10px;
    width: 100%;
}
.item ul {
    height: 70%;
    padding: 10px;
    background-color: #fdfdfd;
}
.item li , a{
    color: #015a83;
    height: 25px;
}
.icons{
    height: 20px;
    margin-right: 5px;
}
.card-inicio{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #015a83;
    width: 90px;
    height: 30px;
    margin-bottom: 20px;
    color: #fff;
}
/* HOME */

.logo-header {
    width: 50px;
    height: 46px;
    margin-right: var(--orbe-spacing-1) ;
}
.logo-header img {
    width: 100%;
    height: 100%;
}
.menuHeader{
    width: 46px;
}
.dropdown{
    width: 80%;
    border-radius: 8px 0;
    background: #fff;
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 999;
    box-shadow: var(--orbe-shadow-sm);
    display:none;
    grid-template-columns: repeat(5, 1fr);
    padding:20px;
}
.NavItem{
    max-width: 250px;
    margin: 0 auto ;
}
.NavItem-label {
    font-size: 25px;
    font-weight: 600;
    height: 30px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #374a67;
}
.NavItem-item {
    padding: 10px;
}
.NavItem a:hover{
    color: #00aeff;
}
.menuHeader:hover .dropdown{
    display: grid;
}
.page-title{
    height: 50px;
    font-size: 24px;
    border-bottom: 1px solid #dbd9d9;
}
.search-container{
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #dbd9d9;
}
.search-container .logo-search{
    width: 30px;
    text-align: center;
}
.search-container input{
    width: 100%;
    border: none;
    padding: 0 8px;
    font-size: 15px;
    outline: none;
}
.stock-area{
    background-color: #fff;
    width: 100%;
    height: 70%;
    box-shadow: var(--orbe-shadow-sm);
    padding: 30px 20px;
}
.stock-area-title{
    font-size: 24px;
    margin-bottom: var(--orbe-spacing-5);
}
.stock-area table {
    width: 100%;
}
table td{
    height: 50px;
    border-bottom: 1px solid #dbd9d9;
    color: #6b6b6b;
}
table tr th{
    text-align: left;
}


@media (max-width:1290px){
    .A_R-Blocos {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:1050px) {
    .A_R-Blocos {
        grid-template-columns: repeat(1,1fr);
    }
    .dropdown{
        width: 100%;
        box-shadow: var(--orbe-shadow-sm);
        display:none;
        grid-template-columns: repeat(1, 1fr);
    }
    .NavItem{
        width: 100%;
        margin: auto 0 ;
    }
    .content-page{
        padding: 66px 10px;
    }
    .stock-area{
        width: 100%;
    }
}